
    @font-face {
      font-family: 'Moonbase Alpha';
      src: url('./src/Moonbase Alpha.otf') format('opentype');
    }

    @font-face {
      font-family: 'urban';
      src: url('./src/FFF Urban Extended.ttf') format('truetype');
    }

    :root {
      --menu1-text: 'uuutopiaaa';
      --menu2-text: 'uuuuutopiaaaa';
      --menu3-text: 'utopia';
    }

    .menu {
      position: absolute;
      width: 25vw;
      height: 25vh;
      font-size: 30px;
      color: black;
      display: flex;
      justify-content: center;
      align-items: center;
      text-align: center;
      padding: 10px;
      cursor: grab;
      touch-action: none;
    }

    #menu1::before {
      font-family: 'Moonbase Alpha', sans-serif;
      color:white;
      text-shadow: 2px 2px 5px rgba(0,0,0,0.1);
      content: var(--menu1-text);
      white-space: pre-wrap;
    }

    #menu2::before {
      content: var(--menu2-text);
      white-space: pre-wrap;
    }

    #menu3::before {
      font-family: 'urban', sans-serif;
      content: var(--menu3-text);
      white-space: pre-wrap;
    }
